<!DOCTYPE html>
<html>
<head>
	<title>Edit Data</title>
</head>
<body>
	<form action="{{url_for('editData',register_id=register.id)}}" method="post">
			Name<input type="text" name="name" value="{{register.name}}"><br><br>
			SurName<input type="text" name="surname" value="{{register.surname}}"><br><br>
			Roll Number<input type="text" name="rollno" value="{{register.rollno}}"><br><br>
			Mobile Number<input type="text" name="mobile" value="{{register.mobile}}"><br><br>
			Branch<input type="text" name="branch" value="{{register.branch}}"><br><br>
			<input type="submit" value="Update">
	</form>
</body>
</body>
</html>